body{
    background-color: #267e1a;
}

.menu{
    background: #f8f8f8;
    width: 400px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    width: 70px;
    height: 60px;
}